<h3>{{ pageTitle }}</h3>
<hr>

<ul>
  <li *ngFor="let loco of locoList$ | async">
    <div>
      <b><a [routerLink]="[loco.nummer]" routerLinkActive="router-link-active">{{
          loco.vehicleType }}
          / {{ loco.nummer }}</a> <small><i> ({{loco.id}})</i></small></b>
      <div><small>{{ loco.companyCode }} {{ loco.bezeichnung }}</small></div>
      <div><small>Epoche: {{ loco.epoche }}</small></div>
    </div>
    <div>
      Hersteller: {{ loco.hersteller }}, Stück: {{ loco.anzahl }}
      <div>Bemerkungen: {{ loco.bemerkung }}</div>
    </div>
  </li>
</ul>
